# Node modules
node_modules/

# Logs
*.log

# Build output
dist/
build/

# Dependency directories
jspm_packages/
bower_components/

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# NPM package files
package-lock.json
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.*.local
